header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background:gray;
    text-align: right;
}

.nav-icon{
    position: absolute;
}

nav{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
}

nav a{
    padding: 0 20px;
}

main{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 1200px;
}

section{
    padding-top: 25px;
}

.search{
    color: red;
}

.search input{
    width: 600px;
}

.search-img{
    border-radius: 3px;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    border: solid 1px black;
}

.search_pagination{
    display: inline-block;
}

.pagination{
    padding: 10px;
    border: solid 1px gray;
    border-radius: 3px;
}

.result{
    padding-right: 10px;
}

.result.date{
    color: gray;
}

.result.title{
    color:blue;
    font-weight: bold;
}

.result.location{
    color:gray;
}